<h1>關卡頁面</h1>
<ul>
  <li>
    <%= link_to  "新增關卡", typing_index_path, method: 'POST' %>
    
  </li>
  <li>第一關</li>
  <li>第二關</li>
  <li>第三關</li>
  <li>
    <%= link_to  "假關卡", typing_path(:id) %>
  </li>
</ul>