
<h1>Typing 關卡頁面</h1>
<div class="lesson-select">

    <div class="card-body">
      <h5>Test Mode</h5>
      <p>Lorem ipsum dolor, sit r ab delectus accusantium voluptatum. Aliquid, quae blanditiis.</p>
    </div>

</div>
<%= render 'shared/topics', topics: @articles, type: "typing" %>


  
