<div class="row  justify-content-center">
  <%= render 'shared/timer' %>
</div>


<%= render 'shared/playground', topic: @topic_article %>
<%= render 'shared/keyboard' %>
<%= render 'shared/stats' %>
