  <h1>
    Choose Mode
  </h1>

  <div class="modeWrap  d-flex ">
    <div class="lesson-area">
      <div class="select-area  d-flex ">
          <div class="card" style="width: 18rem;">
              <img src="/icon/sentiment_very_satisfied-24px.svg" class="card-img-top" alt="..." >
              <div class="card-body">
                  <h5 class="card-title">Typing Practice</h5>
                  <p class="card-text">打字練習</p>
                  <a href="/playground/typing" class="btn btn-primary">START</a>
              </div>
          </div>
      
          <div class="card " style="width: 18rem;">
              <img src="/icon/sentiment_very_satisfied-24px.svg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Typing Code</h5>
                  <p class="card-text">打code練習</p>
                  <a href="/playground/coding" class="btn btn-primary">START</a>
              </div>
          </div>
      </div>
    </div>
  
    <%# 無論會員跟開發者有無登入都看得到這塊 %>
    <% if current_user || current_admin %> 
      <div class="battle-area">
        <div class="card" style="width: 18rem;">
          <img src="/icon/people_alt-24px.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Typing Battle</h5>
            <p class="card-text">與對手對戰</p>
            <%= link_to "START", "#" ,	class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  