<div>
  <h1>typing mode 關卡選擇頁面</h1>
  <div class="type1-lesson-area">
    <div class="lesson-content">
      <%= link_to  "Game-1", typing_path  %>
        <div class="box-title">
          <img src="https://picsum.photos/100/100" alt="">
          <div class="box-num">1</div>
        </div>
        <div class="box-desc">
          <p>Level 1</p>
        </div>

    </div>
  </div>
</div>