<div class="limited-use ">
  <div class="limited-use-content">
      <div class="limited-txt">
        <img src="/icon/computer.svg" class="card-img-top" alt="..." >
        <p>
          For your use of quality, we suggest use a computer to browse our website.<br>Happy Typing~
        </p>
      </div>
      <div class="limited-link">
        <div class="back-to-homepage">
          <a href="/">Click me for back to the homepage.</a>
          <img src="/icon/videogames.svg" class="card-img-top" alt="..." >
        </div>
        <button>I'm find, thank you! and you?</button>
      </div>
  </div>
</div>