<div class="time-counter mt-3" >
  <%# <div class="timer" id="minutes" ></div> %>
  <div class="timer">
    <div>Time</div>       
    <div class="timer ml-2" id="seconds" value="0">0</div>
    <div>second</div>       
  </div>
  <!-- <div class="timer">
    <div>：</div>       
    <div class="timer millisec ml-2" id="millisec">0</div>
  </div> -->
  <div class="timer">
    <div>|Speed</div>       
    <div class="timer" id="wpm" value="0">0</div>
    <div>WPM</div>       
  </div>
</div>



<div class="dropdown">
  <button class="dropbtn"><img src="/icon/settings.svg" alt=""></button>


  <div class="dropdown-content">
    <div class="dropdown-typeT">
      <button class="dropdown-typeT"><img src="/icon/typeT.svg" alt=""></button>
      <div class="dropdown-typeT-item">
        <button class="typeT-item-sm"><img src="/icon/typeT.svg"></button>
        <button class="typeT-item-md"><img src="/icon/typeT.svg"></button>
        <button class="typeT-item-lg"><img src="/icon/typeT.svg"></button>    
      </div>
    </div>

    <div class="dropdown-sound">
      <button class="dropdown-sound"><img src="/icon/sound.svg" alt=""></button>
      <div class="dropdown-sound-item">
        <button class="sound-item-1"><img src="/icon/sound.svg" alt=""></button>
        <button class="sound-item-2"><img src="/icon/sound.svg" alt=""></button>
        <button class="sound-item-3"><img src="/icon/sound.svg" alt=""></button>    
      </div>
    </div>

    <div class="dropdown-keyboard">
      <button class="dropdown-keyboard"><img src="/icon/keyboard.svg" alt=""></button>
      <div class="dropdown-keyboard-item">
        <button class="keyboard-item-sm"><img src="/icon/circle.svg" alt=""></button>
        <button class="keyboard-item-og"><img src="/icon/square.svg" alt=""></button>
      </div>
    </div>

    <div class="dropdown-color">
      <button class="dropdown-color"><img src="/icon/droplet.svg" alt=""></button>
      <div class="dropdown-color-item">
        <button class="color-item-pink"><img src="/icon/droplet-pink.svg" alt=""></button>
        <button class="color-item-blue"><img src="/icon/droplet-blue.svg" alt=""></button>
        <button class="color-item-green"><img src="/icon/droplet-green.svg" alt=""></button>    
      </div>
    </div>
  </div>
</div>