<div class="time-counter mt-3" >
  <%# <div class="timer" id="minutes" ></div> %>
  <div class="timer">
    <div>時間</div>       
    <div class="timer ml-2" id="seconds" value="0"></div>
    <div>秒</div>       
  </div>
  <!-- <div class="timer">
    <div>：</div>       
    <div class="timer millisec ml-2" id="millisec">0</div>
  </div> -->
  <div class="timer">
    <div>|速度</div>       
    <div class="timer" id="wpm" value="0"></div>
    <div>WPM</div>       
  </div>
</div>