<div class="time-counter mt-3" >
  <%# <div class="timer" id="minutes" ></div> %>
  <div class="timer">
    <div>Time</div>       
    <div class="timer ml-2" id="seconds" value="0">0</div>
    <div>second</div>       
  </div>
  <!-- <div class="timer">
    <div>：</div>       
    <div class="timer millisec ml-2" id="millisec">0</div>
  </div> -->
  <div class="timer">
    <div>|Speed</div>       
    <div class="timer" id="wpm" value="0">0</div>
    <div>WPM</div>       
  </div>
</div>



<div class="dropdown">
  <button class="dropbtn"><img src="/icon/settings.svg" alt=""></button>


  <div class="dropdown-content">
    <div class="dropdown-typeT">
      <a class="dropdown-typeT" href="#"><img src="/icon/typeT.svg" alt=""></a>
      <div class="dropdown-typeT-item">
        <a class="typeT-item-sm" href="#"><img src="/icon/typeT.svg" alt=""></a>
        <a class="typeT-item-md" href="#"><img src="/icon/typeT.svg" alt=""></a>
        <a class="typeT-item-lg" href="#"><img src="/icon/typeT.svg" alt=""></a>    
      </div>
    </div>

    <div class="dropdown-sound">
      <a class="dropdown-sound" href="#"><img src="/icon/bell.svg" alt=""></a>
      <div class="dropdown-sound-item">
        <a class="sound-item-1" href="#1"><img src="/icon/bell.svg" alt=""></a>
        <a class="sound-item-2" href="#2"><img src="/icon/bell.svg" alt=""></a>
        <a class="sound-item-3" href="#3"><img src="/icon/bell.svg" alt=""></a>    
      </div>
    </div>

    <div class="dropdown-keyboard">
      <a class="dropdown-keyboard" href="#"><img src="/icon/grid.svg" alt=""></a>
      <div class="dropdown-keyboard-item">
        <a class="keyboard-item-sm" href="#"><img src="/icon/grid.svg" alt=""></a>
        <a class="keyboard-item-og" href="#"><img src="/icon/grid.svg" alt=""></a>
      </div>
    </div>

    <div class="dropdown-color">
      <a class="dropdown-color" href="#"><img src="/icon/droplet.svg" alt=""></a>
      <div class="dropdown-color-item">
        <a class="color-item-pink" href="#"><img src="/icon/droplet.svg" alt=""></a>
        <a class="color-item-blue" href="#"><img src="/icon/droplet.svg" alt=""></a>
        <a class="color-item-green" href="#"><img src="/icon/droplet.svg" alt=""></a>    
      </div>
    </div>
  </div>
</div>