<div class="lesson-select">
<% start = 1%>
  <div class= "card">
    <% topics.each do |topic| %>
      <div class="card-body" style="width: 15rem">

       <div class="accracy d-none"><%= @all_progress[n] %></div>

        <% if current_user %>
          <% if done.include?(topic.id) %>
            <div class="check-done">
              <img src="/icon/check-circle.svg" alt="">
            </div>
          <% end %>
        <% end %>

        <h5 class="card-title" id="lessonTitle">Lesson<%= "#{start}" %></h5>
        <p class="card-text ellipsis"><%= topic.content %></p>
        <%= link_to "Start", send("#{type}_path", id: topic.id), class: "btn btn-primary d-flex justify-content-center ", id: "play-start" %>

        <div class="progress d-flex" id="lessonBar" style="height: 10px;">
          <div class="progress-bar " role="progressbar"  style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div> 
      </div>
      <% n += 1 %>
      <% start += 1 %>
    <% end %>
  </div>
</div>

