<div class="card bg-dark text-white" style="border: none;">
  <img src="https://picsum.photos/id/300/600/400" class="card-img"   alt="">
  <div class="card-img-overlay" style="color: black; ">
    <h5 class="card-title">Hacker Novice</h5>
    <p class="card-text">打字練習</p>
    <p class="card-text">
      <%= link_to  "Start it now", playground_index_path, class: 'nav-link' %>
    </p>
  </div>
</div>