  
  
  <!-- admin權限登入要放出來？ -->
  <!-- <%= link_to 'admin登出（是否要藏起來）' ,destroy_admin_session_path , method: :delete %> -->
  <!--  <%= link_to 'admin登入（是否要藏起來）' ,new_admin_session_path , method: 'get'%>  -->
  <!-- admin權限登入要放出來？ -->
  
  <div class="container"  id="welcomeContainer" col-12 >
    <div class="row" id="welcomeRow">
      <div class="logo_icon">
        <a href="/playground"><img src="/img/NoobIcon_400x200.svg" type="display" alt="" ></a>
      </div>
      <div class="type_here">
        <h1>Try to type 
          <span class="txt-type" 
                data-wait="3000" 
                data-words='["faster !", "better !", "more !"]'>
          </span>
        </h1>
      </div>
          <%= link_to  "GO!", playground_index_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <%# <canvas id="welcomeBg"></canvas> %>







