  <canvas id="welcomeBg"></canvas>
  
  
  <!-- admin權限登入要放出來？ -->
  <!-- <%= link_to 'admin登出（是否要藏起來）' ,destroy_admin_session_path , method: :delete %> -->
  <!--  <%= link_to 'admin登入（是否要藏起來）' ,new_admin_session_path , method: 'get'%>  -->
  <!-- admin權限登入要放出來？ -->
  
  <div class="welcome-Page" >
    <div class="welcome-Content">
      <div class="logoIcon">
        <a href="/playground"><img  src="/img/NoobIcon_400x200.svg" 
              type="display" 
              alt="">
        </a>
      </div>
      <div class="typeHere">
        <h1>Try to type 
          <span class="txt-type" 
                data-wait="3000" 
                data-words='["faster !", "better !", "more !"]'>
          </span>
        </h1>
      </div>
          <%= link_to  "Start!", playground_index_path, class: 'btn btn-primary' %>
    </div>
  </div>








