<div class="container"  id="welcomeContainer" >
  <div class="row" id="welcomeRow">
    <div class="logo_wrap col-12">
      <div class="logo_icon">
        <a href="/playground"><img src="/img/NoobIcon_400x200.svg" type="display" alt="" ></a>
      </div>

        <div id="typed-strings" class=type_here>
          <h1> Try to type 
          <span id="typed" class =txt-type></span>
          </h1>
        </div>
      </div>
        <%= link_to "GO!", playground_index_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="landing-page mt-5 ">
  <div class="row trouble mt-5">
    <div class="tb-img col-12 col-md-6 mt-5 mb-5">
      <div class="error-pic" data-aos="fade-right" data-aos-duration="1000"
      data-aos-easing="ease-in-out">
        <img src="/img/error.png" alt="">
      </div>
    </div>
    <div class="tb-tx col-12 col-md-6 mt-5 mb-5">
      <div data-aos="fade-up" data-aos-duration="500"
      data-aos-easing="ease-in-out">
        <h2>Trouble</h2>
      </div>
      <div data-aos="fade-up" data-aos-duration="500"
      data-aos-easing="ease-in-out" data-aos-delay="100">
        <ul>
          <li>想要學習程式設計，卻苦於打字速度很慢？</li>
          <li>正在學習程式語言，可是各種程式語法不熟悉？</li>
          <li>經常打錯字導致 Debug 老半天？</li>
        </ul>
          <h4>試試 NoobTyping 吧!</h4>
      </div>
      <div data-aos="fade-up" data-aos-duration="500"
      data-aos-easing="ease-in-out" data-aos-delay="200" class="d-flex justify-content-center">
        <button class="btn gray-btn" onclick="location.href='<%= playground_index_path %>'">START</button>
      </div>
    </div>
  </div>
  <div class="row solution">
    <div class="solution-img col-12 col-md-6 mt-5 mb-5">
      <div data-aos="fade-left"    data-aos-duration="1000" data-aos-easing="ease-in-out">
        <img src="https://i.imgur.com/UysmjTS.png" alt="">
      </div>
    </div>
    <div class="solution-tx col-12 col-md-6 mt-5 mb-5">
      <div data-aos="fade-up" data-aos-duration="500"
      data-aos-easing="ease-in-out">
        <h2>Solution</h2>
      </div>
      <div data-aos="fade-up" data-aos-duration="500"
      data-aos-easing="ease-in-out" data-aos-delay="100">
        <p>NoobTyping 是款主打純淨、簡單好用的打字練習網站，乾淨的介面讓你更能專注練習，提供 Ruby 語法讓你可以同時練習打字與記憶語法格式，並提供即時對戰的功能增添打字練習的趣味。</p>
      </div>
      <div data-aos="fade-up" data-aos-duration="500"
      data-aos-easing="ease-in-out" data-aos-delay="200">
        <button class="btn yellow-btn" onclick="location.href='<%= playground_index_path %>'">START</button>
      </div>
    </div>
  </div>
  <div class="row feature pb-5">
    <h2>Features</h2>
    <div class="col-12 col-md-4 mt-3 mb-3">
      <div class="card feature-cd" data-aos="fade-up" data-aos-duration="1000"
      data-aos-easing="ease-in-out">
        <img class="card-img-top" src="img/010-browser-4.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="my-2">純淨頁面</h4>
          <p class="card-text">告別廣告或絢麗的特效，採用2020最流行的 Neumorphism 風格設計，讓你可以專注在打字上，大幅提升練習效益。</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3 mb-3">
      <div class="card feature-cd" data-aos="fade-up" data-aos-duration="1000"
      data-aos-easing="ease-in-out" data-aos-delay="200">
        <img class="card-img-top" src="img/049-web-programming-1.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="my-2">Code 模式</h4>
          <p class="card-text">學習程式設計老是打錯語法？沒關係，現在你可以在打字練習的同時，用身體記憶語法格式，一次練習雙倍進步，打 Code 再也不痛苦！</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3 mb-3" data-aos="fade-up" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-delay="400">
      <div class="card feature-cd">
        <img class="card-img-top" src="img/037-statistics.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="my-2">成長數據</h4>
          <p class="card-text">在打字練習的過程中，所有的過程結果都會記錄下來，你可以在個人報表的頁面查找，清楚的紀錄讓練習過程看得見，找出問題的關鍵，讓練習更有效率。</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3 mb-3" data-aos="fade-up" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-delay="200">
      <div class="card feature-cd">
        <img class="card-img-top" src="img/040-web-design.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="my-2">自訂關卡</h4>
          <p class="card-text">老是打錯某些字？把這些字都搜集起來，自己開一個關卡吧！反覆的練習是進步的唯一關鍵，客製題目的關卡一定可以幫助你突破難關。</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3 mb-3" data-aos="fade-up" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-delay="400">
      <div class="card feature-cd">
        <img class="card-img-top" src="img/055-refresh-1.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="my-2">切換情境</h4>
          <p class="card-text">純淨的背景看久了有點膩？換換口味挑個喜歡的配色吧！偶爾換個心情放鬆一下，練習起來會更有效率喔！</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3 mb-3" data-aos="fade-up" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-delay="800">
      <div class="card feature-cd">
        <img class="card-img-top" src="img/083-layout.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="my-2">刺激對戰</h4>
          <p class="card-text">即時對戰功能，不論你與好友相隔多遠，都可以隨時隨地連上同一個對戰聊天時，暢快地輸贏，增添打字練習的緊張、刺激！</p>
        </div>
      </div>
    </div>
  </div>
  <div class="feedback justify-content-center">
    <div class="feedback-tx col-12">
      <h2>Feedback</h2>
      <p class="text-center">聽聽用過的人怎麼說！</p>
    </div>
    <div class="feedback-pic col-12">
      <div id="feedbackCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="fd-item col-12 col-md-8 d-flex justify-content-center mx-auto">
              <div class="col-4">
                <div class="fd-avatar mx-auto">
                  <img src="/img/feedback-avatar01.jpg" alt="">
                </div>
                <p class=" mt-3 text-center">玲涓</p>
              </div>
              <div class="col-8">
                <p>很喜歡情境設定的功能，每天早上玩單機版醒腦暖身又療癒。資料表功能可讓自己紀錄並維持速打成績。</p>
              </div>    
            </div>
          </div>
          <div class="carousel-item">
            <div class="fd-item col-12 col-md-8 d-flex justify-content-center mx-auto">
              <div class="col-4">
                <div class="fd-avatar mx-auto">
                  <img src="/img/feedback-avatar02.jpg" alt="">
                </div>
                <p class=" mt-3 text-center">Boyu</p>
              </div>
              <div class="col-8">
                <p>很喜歡機械鍵盤的聲音。競賽功能讓自己在壓力刺激下訓練肌肉反應，和朋友比賽速打讓打字變得更有趣。</p>
              </div>    
            </div>
          </div>
          <div class="carousel-item">
            <div class="fd-item col-12 col-md-8 d-flex justify-content-center mx-auto">
              <div class="col-4">
                <div class="fd-avatar mx-auto">
                  <img src="/img/feedback-avatar03.jpg" alt="">
                </div>
                <p class=" mt-3 text-center">動物森友會 「你知島嗎？」</p>
              </div>
              <div class="col-8">
                <p>不用下載龐大的的打字軟體，就可以直接練習！越來越對鍵盤熟悉，增加出產文章的效率🧡還有後台學習報表，瞭解自己的學習進度！</p>
              </div>    
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#feedbackCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#feedbackCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <div class="row call-to-action mt-5">
    <div class="cta-img col-12 col-md-6 mt-5 mb-5">
      <img src="https://i.imgur.com/XeYgfxX.gif" alt="">
    </div>
    <div class="cta-tx col-12 col-md-6 mt-5 mb-5">
      <h2>Join us !</h2>
      <p>別再猶豫了，從現在開始展開好玩的打字旅程，你會驚訝原來打字練習也可以這麼有趣、有效，跟著我們一起變成打字高手，再也不要因為打錯字而錯失良機！</p>
      <button class="btn gray-btn" onclick="location.href='<%= playground_index_path %>'">START</button>
    </div>
  </div>
  <div class="footer mt-3 mb-3 justify-content-center">
    <p class="text-center">Copyright &copy; 2020 www.noobtyping.com - All Rights Reserved.</p>
  </div>
</div>


<script>
  AOS.init();
</script>


