  
  
  <!-- admin權限登入要放出來？ -->
  <!-- <%= link_to 'admin登出（是否要藏起來）' ,destroy_admin_session_path , method: :delete %> -->
  <!--  <%= link_to 'admin登入（是否要藏起來）' ,new_admin_session_path , method: 'get'%>  -->
  <!-- admin權限登入要放出來？ -->
  
  <div class="container"  id="welcomeContainer" col-12 >
    <div class="row" id="welcomeRow">
      <div class="logo_icon">
        <a href="/playground"><img src="/img/NoobIcon_400x200.svg" type="display" alt="" ></a>
      </div>
      <div class="type_here">
        <h1>Try to type 
          <span class="txt-type" 
                data-wait="3000" 
                data-words='["faster !", "better !", "more !"]'>
          </span>
        </h1>
      </div>
          <%= link_to  "GO!", playground_index_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <%# <canvas id="welcomeBg"></canvas> %>

<div class="landing-page mt-5 ">
  <div class="row trouble mt-5">
    <div class="tb-img col-12 col-md-6 mt-5 mb-5">
      <div data-aos="fade-right" data-aos-duration="1000"
      data-aos-easing="ease-in-out">
        <img src="/img/error.png" alt="">
      </div>
    </div>
    <div class="tb-tx col-12 col-md-6 mt-5 mb-5">
      <h2>Trouble</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur qui voluptate culpa, ullam vero odio animi excepturi voluptatum ab minus tenetur sunt praesentium, eveniet nulla velit ratione, quia maxime saepe.</p>
      <button class="btn btn-warning">Get Strat</button>
    </div>
  </div>
  <div class="row solution">
    <div class="solution-img col-12 col-md-6 mt-5 mb-5">
      <div class="aos-init" data-aos="fade-left"    data-aos-duration="1000" data-aos-easing="ease-in-out">
        <img src="https://i.imgur.com/UysmjTS.png" alt="">
      </div>
    </div>
    <div class="solution-tx col-12 col-md-6 mt-5 mb-5">
      <h2>Solution</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur qui voluptate culpa, ullam vero odio animi excepturi voluptatum ab minus tenetur sunt praesentium, eveniet nulla velit ratione, quia maxime saepe.</p>
      <button class="btn btn-warning">Get Strat</button>
    </div>
  </div>
  <div class="row feature pb-5">
    <h2>Features</h2>
    <div class="col-12 col-md-4 mt-3">
      <div class="card">
        <img class="card-img-top" src="https://picsum.photos/300/200?random=21" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <div class="card">
        <img class="card-img-top" src="https://picsum.photos/300/200?random=31" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <div class="card">
        <img class="card-img-top" src="https://picsum.photos/300/200?random=41" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <div class="card">
        <img class="card-img-top" src="https://picsum.photos/300/200?random=51" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <div class="card">
        <img class="card-img-top" src="https://picsum.photos/300/200?random=61" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <div class="card">
        <img class="card-img-top" src="https://picsum.photos/300/200?random=11" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row feedback">
    <div class="feedback-tx col-12 col-md-8 mx-auto">
      <h2>Feedback</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur qui voluptate culpa, ullam vero odio animi excepturi voluptatum ab minus tenetur sunt praesentium, eveniet nulla velit ratione, quia maxime saepe.</p>
    </div>
    <div class="feedback-tmp-pic col-12 col-md-8 mx-auto">
      <img src="https://i.imgur.com/tk1vVbh.png" alt="">
    </div>
  </div>

  <div class="row call-to-action mt-5">
    <div class="cta-img col-12 col-md-6 mt-5 mb-5">
      <img src="https://i.imgur.com/XeYgfxX.gif" alt="">
    </div>
    <div class="cta-tx col-12 col-md-6 mt-5 mb-5">
      <h2>Join us !</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur qui voluptate culpa, ullam vero odio animi excepturi voluptatum ab minus tenetur sunt praesentium, eveniet nulla velit ratione, quia maxime saepe.</p>
      <button class="btn btn-warning">Get Strat</button>
    </div>
  </div>
  <div class="row footer mt-3 mb-3 justify-content-center">
    <p>Copyright &copy; 2020 www.noobtyping.com - All Rights Reserved.</p>
  </div>
</div>


<script>
  AOS.init();
</script>


