<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="welcomeWrap">
    <div class="welcomeContent">
      <p>Try to type faster ! </p>
    </div>
      <%= link_to  "Start Now", playground_index_path, class: 'btn btn-primary' %>
    </div>
</body>
</html>

