.navbar {
  z-index: 2;
  font-family: MuseoSansRounded, sans-serif;
  font-weight: 800;
  background: #eec44c;
  box-shadow:-3px -3px 5px rgba(255,255,255,0.02),
              3px  3px 10px rgba(0, 0, 0, 0.2);
  .navbar-nav {
    .nav-link {
      color: rgb(50, 50, 50);
    }
    .nav-btn{
      margin-top: .1rem;
      margin-left: 1rem;
      border-radius: 1rem;
      background: #eec44c;
      box-shadow:  2px 2px 4px #caa741, 
                  -2px -2px 4px #ffe157;
      border: hidden;
      display: inline-block;
    }
    .show{
      border-radius: 1rem 1rem 0rem 0rem;
    }
    #home-dropdown-menu{
      .dropdown-menu{
        border-radius: 1rem;
        background: #eec44c;
        box-shadow: inset 2px 2px 4px #caa741, 
                    inset -2px -2px 4px #ffe157;      
        border: hidden;
        display: none; 
        
        .dropdown-item{
          margin-bottom: 3px;
          color: #464646;
          font-size: 1rem;
          font-weight: 800;
        }
        .dropdown-item:hover{
          background-color: palegoldenrod;
        }
      }
    }
    #home-dropdown-menu:hover{
      display: inline-table;
      .dropdown-menu{
        display: block;
      }
    }
  }
  .navbar-brand {
    padding-top:0;
  }
  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
  color: rgb(50, 50, 50);
  background: #eec44c;
  box-shadow: inset  2px 2px 4px #caa741, 
              inset -2px -2px 4px #ffe157;
  border: hidden;
  }
  .btn-primary:hover {
    color: rgb(50, 50, 50);
    background: #eec44c;
    box-shadow:  2px 2px 4px #caa741, 
                -2px -2px 4px #ffe157;
    border: hidden;
  }

  .btn-primary:focus{
    color: rgb(50, 50, 50);
    background: linear-gradient(145deg, #ffd251, #d6b044);
    box-shadow:  2px 2px 4px #caa741, 
                -2px -2px 4px #ffe157;
    border: hidden;
    }

}

@media (max-width: 991px){
  .navbar{
    .navbar-collapse{
      li{
        padding-bottom: 5px;
      }
      .navbar-nav{
        display: list-item;
        flex-direction: column;
      }
    }
  }
}