.navbar-light .navbar-nav .nav-link{
  color: rgb(70, 70, 70);
}

.navbar {
  font-family: MuseoSansRounded, sans-serif;
  font-weight: 800;
  background: #eec44c;
  box-shadow:-3px -3px 5px rgba(255,255,255,0.02),
              3px  3px 10px rgba(0, 0, 0, 0.2); 
}



.navbar-brand{
  padding-top:0;
}

.nav-btn{
  margin-top: .1rem;
  margin-left: 1rem;
  border-radius: 1rem;
  background: #eec44c;
  box-shadow:  2px 2px 4px #caa741, 
              -2px -2px 4px #ffe157;
  border: hidden;
}

.navbar .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle{
  color: rgb(70, 70, 70);
  background: #eec44c;
  box-shadow: inset  2px 2px 4px #caa741, 
              inset -2px -2px 4px #ffe157;
  border: hidden;
}

.navbar .btn-primary:hover{
  color: rgb(70, 70, 70);
  background: #eec44c;
  box-shadow:  2px 2px 4px #caa741, 
              -2px -2px 4px #ffe157;
  border: hidden;
}