:root {
  --basecolor: #eee;
  /* mode-pink */
  --basepink: rgb(241, 168, 168);
  --input-pink: rgb(240, 181, 181);
  --shadow-pink: -3px -3px 5px rgba(248, 200, 200, 0.7),
                 3px  3px 10px rgba(201, 39, 39, 0.5);
  --shadow-pink-in: inset -3px -3px 5px rgba(248, 200, 200, 0.7),
                    inset 3px  3px 10px rgba(201, 39, 39, 0.5);
  /* mode-dark */
  --basedark: #0c202c;
  --input-dark: #0c202c;
  --shadow-dark: 3px 4px 4px #061117, 
                 -3px -4px 4px #0f2b3bc4;
  --shadow-dark-in: inset 6px 6px 12px #061117, 
                    inset -6px -6px 12px #122f41;
  /* mode-blur */
  --baseblue: #a0bdca;
  --input-blue: #a0bdca;
  --shadow-blue: 3px 3px 5px #88a1ac, 
                 -3px -3px 5px #b8d9e8;
  --shadow-blue-in:  inset 6px 6px 12px #88a1ac, 
                     inset -6px -6px 12px #b8d9e8;
  /* mode-green */
  --basegreen: #ace7c4;
  --input-green: #ace7c4;
  --shadow-green: 3px 3px 5px #92c4a7, 
                  -3px -3px 5px #c6ffe1;
  --shadow-green-in:  inset 6px 6px 12px #92c4a7, 
                      inset -6px -6px 12px #c6ffe1;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 0;
  box-shadow: inset 0px 10px 10px rgba(255, 255, 255, 0.02);
  z-index: 1;

  .dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: none;
    padding: 16px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover {
    background-color: rgba(255, 255, 255, .6);
  }
  .dropdown-content {
    text-align: right;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    min-width: 160px;
    z-index: 1;
    right: 0;

    button {
      padding: 16px;
      border: 0;
      background-color: rgba(255, 255, 255, .6);
      img{
        width: 24px;
      }
      &:hover {
        background-color: rgba(255, 213, 74, 0.842);
      }
    }

    .dropdown-typeT-item,
    .dropdown-sound-item,
    .dropdown-keyboard-item,
    .dropdown-color-item{
      display: none;  
      flex-direction: row;
      justify-content: flex-end;
    }

    .dropdown-typeT-item,
    .dropdown-sound-item,
    .dropdown-keyboard-item,
    .dropdown-color-item{
      a:hover{
        transform: translateY(-.5rem);
      }
    }

    .dropdown-typeT:hover,
    .dropdown-sound:hover,
    .dropdown-keyboard:hover,
    .dropdown-color:hover{
      .dropdown-typeT-item,
      .dropdown-sound-item,
      .dropdown-keyboard-item,
      .dropdown-color-item{
        display: flex;
      }
    }
  }
}

.dropdown:hover{
  .dropdown-content {
    display: block;
  }
  .dropbtn {
    background-color: none;
  }
}

//change-to-pink
.change-to-pink{
  background-color: var(--basepink);
  .navbar{
    background-color: var(--basepink);
    box-shadow: var(--shadow-pink);
    .navbar-collapse{
      .navbar-nav{
        .nav-item{
          .dropdown-menu{
            background-color: var(--basepink)!important;
            box-shadow: var(--shadow-pink)!important;
          }
          .nav-btn:active{
            background-color: var(--basepink);
            box-shadow: var(--shadow-pink-in);
          }
        }
      }
    }
    li{
      .nav-btn{
        background-color: var(--basepink);
        box-shadow: var(--shadow-pink);
      }
    }
  }
  .justify-content-center{
      .play-container{
        background-color: var(--input-pink);
        box-shadow: var(--shadow-pink-in);
      }
  }
  #keyboard{
    background-color: var(--basepink);
    .playing {
      background-color: var(--basepink);
      color: rgb(255, 255, 255);
      text-decoration: none;
      box-shadow: var(--shadow-pink-in)!important;
    }
    .key{
      background-color: var(--basepink);
      box-shadow: var(--shadow-pink);
    }
    .arrows_all{
      background-color: var(--basepink);
      box-shadow: none;
    }
  }
  .selected {
    text-decoration: underline;
    background-color: #6594b4;
  }
  .correct {
    color: #5aa085;
    background-color: rgb(141, 228, 152);
  }
  .incorrect {
    color: #8d5d99;
    background: rgb(231, 135, 188);
  }
}

//change-to-blue
.change-to-blue{
  background-color: var(--baseblue);
  .navbar{
    background-color: var(--baseblue);
    box-shadow: var(--shadow-blue);
    .navbar-collapse{
      .navbar-nav{
        .nav-item{
          .dropdown-menu{
            background-color: var(--baseblue)!important;
            box-shadow: var(--shadow-blue)!important;
          }
          .nav-btn:active{
            background-color: var(--baseblue);
            box-shadow: var(--shadow-blue-in);
          }
        }
      }
    }
    li{
      .nav-btn{
        background-color: var(--baseblue);
        box-shadow: var(--shadow-blue);
      }
    }
  }
  .justify-content-center{
      .play-container{
        background-color: var(--input-blue);
        box-shadow: var(--shadow-blue-in);
      }
  }
  #keyboard{
    background-color: var(--baseblue);
    .playing {
      background-color: var(--baseblue);
      color: rgb(255, 255, 255);
      text-decoration: none;
      box-shadow: var(--shadow-blue-in)!important;
    }
    .key{
      background-color: var(--baseblue);
      box-shadow: var(--shadow-blue);
    }
    .arrows_all{
      background-color: var(--baseblue);
      box-shadow: none;
    }
  }
  .selected {
    text-decoration: underline;
    background-color: #6594b4;
  }
  .correct {
    color: #5aa085;
    background-color: rgb(141, 228, 152);
  }
  .incorrect {
    color: #8d5d99;
    background: rgb(231, 135, 188);
  }
}
//change-to-green
.change-to-green{
  background-color: var(--basegreen);
  .navbar{
    background-color: var(--basegreen);
    box-shadow: var(--shadow-green);
    .navbar-collapse{
      .navbar-nav{
        .nav-item{
          .dropdown-menu{
            background-color: var(--basegreen)!important;
            box-shadow: var(--shadow-green)!important;
          }
          .nav-btn:active{
            background-color: var(--basegreen);
            box-shadow: var(--shadow-green-in);
          }
        }
      }
    }
    li{
      .nav-btn{
        background-color: var(--basegreen);
        box-shadow: var(--shadow-green);
      }
    }
  }
  .justify-content-center{
      .play-container{
        background-color: var(--input-green);
        box-shadow: var(--shadow-green-in);
      }
  }
  #keyboard{
    background-color: var(--basegreen);
    .playing {
      background-color: var(--basegreen);
      color: rgb(248, 150, 70);
      text-decoration: none;
      box-shadow: var(--shadow-green-in)!important;
    }
    .key{
      background-color: var(--basegreen);
      box-shadow: var(--shadow-green);
    }
    .arrows_all{
      background-color: var(--basegreen);
      box-shadow: none;
    }
  }
  .selected {
    text-decoration: underline;
    background-color: #6594b4;
  }
  .correct {
    color: #5aa05a;
    background-color: #8af78a;
  }
  .incorrect {
    color: #8d5d99;
    background: rgb(231, 135, 188);
  }
}

//change-to-dark
.change-to-dark{
  background-color: var(--basedark);
  .navbar{
    background-color: var(--basedark);
    box-shadow: var(--shadow-dark);
    .navbar-collapse{
      .navbar-nav{
        .nav-item{
          .dropdown-menu{
            background-color: var(--basedark)!important;
            box-shadow: var(--shadow-dark)!important;
            color: #71a0a8;
          }
          .nav-btn:active{
            background-color: var(--basedark);
            box-shadow: var(--shadow-dark-in);
            color: #71a0a8;
          }
        }
      }
    }
    li{
      .nav-btn{
        background-color: var(--basedark);
        box-shadow: var(--shadow-dark);
        color: #71a0a8;
      }
    }
  }
  .justify-content-center{
    .play-container{
      background-color: var(--input-dark);
      box-shadow: var(--shadow-dark-in);
      color: #71a0a8!important;
    }
    .time-counter{
      .timer{
        color: #71a0a8;
      }
    }
  }
  #keyboard{
    background-color: var(--basedark);
    .playing {
      background-color: var(--basedark);
      color: rgb(243, 174, 70)!important;
      text-decoration: none;
      box-shadow: var(--shadow-dark-in)!important;
    }
    .key{
      background-color: var(--basedark);
      box-shadow: var(--shadow-dark);
      color: rgb(37, 96, 104);
    }
    .arrows_all{
      background-color: var(--basedark);
      box-shadow: none;
    }
  }
  .selected {
    text-decoration: underline;
    background-color: #c99470;
    color: rgb(37, 96, 104);
  }
  .correct {
    color: #5aa085;
    background-color: rgb(141, 228, 152);
  }
  .incorrect {
    color: #8d5d99;
    background: rgb(231, 135, 188);
  }
}

.dropdown-content{
  .dropdown-typeT{
    .dropdown-typeT-item{
      align-items: flex-end;
      .typeT-item-sm{
        img{
          width: 20px;
        }
      }
      .typeT-item-lg{
        img{
          width: 26px;
        }
      }
    }
  }
  .dropdown-sound{
    .dropdown-sound-item{
      align-items: flex-end;
      .sound-item-1{
        img{
          width: 20px;
        }
      }
      .sound-item-3{
        img{
          width: 26px;
        }
      }
    }
  }
}
