h1{
  font-family: Museo Sans Rounded, sans-serif;
  font-style: normal;
  font-weight: 700;
  color:  rgb(70, 70, 70);
  width: 65rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-primary {
  color:  rgb(70, 70, 70);
  font-family: Museo Sans Rounded, sans-serif;
  font-style: normal;
  font-weight: 700;
}


.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  border: none;
  color: rgb(95, 95, 95);
  background-color:#eeeeee;
  border: none;
  box-shadow: inset 7px 7px 10px #cfcfcf, 
              inset -7px -7px 10px #ffffff;
}
