 @font-face {
  font-family: Museo Sans Rounded;
  src: 
      local("/fonts/MuseoSansRounded900"),
      local("/fonts/MuseoSansRounded700"),
      local("/fonts/MuseoSansRounded400"),

      url("/fonts/MuseoSansRounded900.otf"),
      url("/fonts/MuseoSansRounded700.otf"),
      url("/fonts/MuseoSansRounded400.otf");

  font-weight: 900,700,400;
  font-style: normal;
}


$BGgrey:#eeeeee;
$noob-yellow:#ffc44c;
$DarkGrey:#323232;
$LightGrey:#757575;
$correct:#5dc000;
$incorrect:#ff0000;


h1, h2, h3, h4 {
  font-family:  Museo Sans Rounded,jf-openhuninn, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: $DarkGrey;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-shadow: -2px -2px 2px #ffffff, 
                2px 2px 2px #b8b8b8;
}

.btn-primary {
  color:$DarkGrey;
  font-family: Museo Sans Rounded, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  border: none;
  color: $DarkGrey;
  background-color: $BGgrey;
  border: none;
  box-shadow: inset 7px 7px 10px #cfcfcf, 
              inset -7px -7px 10px #ffffff;
}

