@font-face {
  font-family: Museo Sans Rounded,jf-openhuninn;
  src: 
      local("/fonts/MuseoSansRounded900"),
      local("/fonts/MuseoSansRounded700"),
      local("/fonts/MuseoSansRounded400"),
      local("/fonts/jf-openhuninn-1.1.ttf")
      url("/fonts/MuseoSansRounded900.otf"),
      url("/fonts/MuseoSansRounded700.otf"),
      url("/fonts/MuseoSansRounded400.otf"),
      url("/fonts/jf-openhuninn-1.1.ttf");
  font-weight: 900,700,400;
  font-style: normal;
}

h1 ,h2,h3 {
  font-family:  Museo Sans Rounded,jf-openhuninn, sans-serif;
  font-style: normal;
  font-weight: 900;
  color: rgb(50, 50, 50);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-primary {
  color: rgb(50, 50, 50);
  font-family: Museo Sans Rounded, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  border: none;
  color: rgb(50, 50, 50);
  background-color: #eeeeee;
  border: none;
  box-shadow: inset 7px 7px 10px #cfcfcf, 
              inset -7px -7px 10px #ffffff;
}
