#customizations-edit{
  .actions{
    padding: 1rem;

    .diy-update-bt{
      width: 4rem;
      border-radius: 1rem;
      border: none;
      // background-color:  #eec44c;
      // box-shadow: 2px 2px 3px #cfcfcf, 
      //             -2px -2px 3px #ffffff;
      color: #323232;
    }
    .diy-update-bt:hover{
      color: #eec44c;
    }
    a{
      color: #323232;
      margin-left: 1rem;
    }
    a:hover{
      text-decoration: none;
      color: #eec44c;

    }
    a:focus{
      border: none;
    }
  }
}



#customizations-index{
    .lesson-select{
      // padding-left: 2rem;
      .row{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        
        .card-body{
          // width: 18rem;
          margin: 1rem 0rem;
        }
        .link-group{
          justify-content: space-between;
          .trash img{
            display: flex;
            position: absolute;
            top: 1.2rem;
            right: 1rem;
          }
          .edit-custom{
            display: flex;
            position: absolute;
            top: 1.2rem;
            right: 3rem;
          }
          
        }
        @media (min-width: 768px) {
          .stars img{
            // margin: 20rem;
            height: 1.7rem;
            margin: 0.2rem;
          }
        }
        @media (max-width: 767px){
          .stars img{
            // margin: 20rem;
            height: 1.7rem;
            margin: 0.2rem;
          }
        }
        .post-news{
          font-size: .8rem;
          // text-align: center;
          // padding:auto;
        }
      }
    }
}