#customizations-edit{
  .diy-update-bt{
    margin-top: 1rem;
    margin-left: 0;
    width: 4rem;
    border-radius: 1rem;
    border: none;
    background-color:  #eec44c;
    box-shadow: 2px 2px 3px #cfcfcf, 
                -2px -2px 3px #ffffff;
    color: #323232;
  }
}