#keyboard {
  /* width: 50rem;  */
  /* min-height: 50vh; */
  padding: .8vw;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: .3vw;
  display: grid;
  grid-template-columns: repeat(30,2.2vw);
  grid-template-rows: repeat(5, 4.3vw);
  grid-gap: .4vw;
}
.keys span {
  display: block;
  margin-top: 1vw;
  font-size: .95vw;
}

.key_symbols {
  line-height: .2vw;
}

.key {
  background-color: black;
  border: .1vw solid green;
  border-radius:  .3vw;
  grid-column: span 2;
  font-size: .95vw;
  text-align: center;
  padding-top: 1.5vw;
  color: greenyellow;
  /* transition: all .1s ease; */
}


.delete {
  grid-column: span 4;
}

.tab {
  grid-column: span 3;
}

.backslash {
  grid-column: span 3;
}

.capslock {
  grid-column: span 4;
}

.return {
  grid-column: span 4;
}

.leftshift {
  grid-column: span 5;
}

.rightshift {
  grid-column: span 5;
}

.leftctrl {
  grid-column: span 3;
}

.command {
  grid-column: span 3;   
}

.space {
  grid-column: span 13;
}

.arrows_all {
  grid-column: span 6;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 49% 49%;
  padding-top: 0;
  grid-gap: 2%;
  border-style: hidden;    
}

.top{
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 0; 
  grid-row-end: 0; 
  padding: 4%;
}

.left{
  grid-column-start: 1; 
  grid-column-end: 1; 
  padding: 4%;
}
.down{
  grid-column-start: 2;
  grid-column-end: 3;  
  grid-row-start: 2; 
  grid-row-end: 0; 
  padding: 2%;
  transform: rotate(180deg);
}

.right{
  grid-column-start: 3;
  grid-column-end: 4;  
  grid-row-start: 2; 
  grid-row-end: 0;
  padding: 4%; 
  transform: rotate(180deg);
}

.playing {
  border: .1em solid green;
  background-color: greenyellow;
  color: black;
  text-decoration: none;
}