/* -----遊玩模式區 ----- */

.row{
  justify-content: space-around;
  display: flex;
  .select-area {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    .mode_card {
      width: 18rem;
      border-radius: 1rem;
      background-color: #eeeeee;
      border: none;
      box-shadow: 4px 4px 8px #cfcfcf, 
                  -4px -4px 8px #ffffff;
      margin-bottom: 2rem;
      // margin-right: .1rem;
      // margin-left: .1rem;
      padding-top: 1rem;

      .card-body{
        padding-left: 0rem;
      }
      
      .card-title{
        margin-bottom: .5rem;
        text-shadow:  -2px -2px 2px #ffffff,
                      2px 2px 2px #b8b8b8;
      }

      .card-text{
        margin-bottom: .6rem;
        font-weight: 400;
        font-family: Museo Sans Rounded,sans-serif ;
      }

      .card-img-top{
        background-color: #eec44c;
        overflow: hidden;
        border-radius: .2rem;
      }
      .btn-primary {
        color:  hsl(0, 0%, 20%);
        border-radius: 1rem;
        
        border: none;
        background-color:  #eec44c;
        box-shadow: 2px 2px 3px #cfcfcf, 
                    -2px -2px 3px #ffffff;
      }

      .member-only{
        position: relative;
        .member-only-notice{
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, .7);
          font-size: 1.5rem;
          a{
            text-decoration: none;
            color: white;
          }
          a:hover{
            transform: translateY(-.5rem);
          }
        }
      }
    }

    .card-title{
      font-family:  museo sans rounded, sans-serif;
      font-style: normal;
      font-weight: 700;
    }
  }
}

.battle-area .card .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  border: none;
  color:  rgb(50, 50, 50);
  background-color: #eeeeee;
  border: none;
  box-shadow: inset 3px 3px 4px #cfcfcf, 
              inset -3px -3px 4px #ffffff;
}

.select-area .card .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  border: none;
  color:  rgb(50, 50, 50);
  background-color: #eec44c;
  border: none;
  box-shadow: inset 3px 3px 4px #caa741, 
              inset -3px -3px 4px #ffe157;
}


#typingModeBar .progress-bar{
  background: #70e885;
  background: linear-gradient(128deg, rgba(112,232,133,1) 0%, rgba(162,255,188,1) 100%);
}

#codeModeBar .progress-bar{
  background: rgb(112,232,133);
  background: linear-gradient(128deg, rgba(112,232,133,1) 0%, rgba(162,255,188,1) 100%);
}

#battleModeBar .progress-bar{
  background: rgb(236,83,136);
background: linear-gradient(128deg, rgba(236,83,136,1) 0%, rgba(255,180,195,1) 100%);
}