@charset "UTF-8";
/* -----遊玩模式區 ----- */
.row {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row .select-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row .select-area .mode_card {
  width: 18rem;
  border-radius: 1rem;
  background-color: #eeeeee;
  border: none;
  -webkit-box-shadow: 4px 4px 8px #cfcfcf,  -4px -4px 8px #ffffff;
          box-shadow: 4px 4px 8px #cfcfcf,  -4px -4px 8px #ffffff;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.row .select-area .mode_card .card-body {
  padding-left: 0rem;
}

.row .select-area .mode_card .card-title {
  margin-bottom: .5rem;
  text-shadow: -2px -2px 2px #ffffff, 2px 2px 2px #b8b8b8;
}

.row .select-area .mode_card .card-text {
  margin-bottom: .6rem;
  font-weight: 400;
  font-family: Museo Sans Rounded,sans-serif;
}

.row .select-area .mode_card .card-img-top {
  background-color: #eec44c;
  overflow: hidden;
  border-radius: .2rem;
}

.row .select-area .mode_card .btn-primary {
  color: #333333;
  border-radius: 1rem;
  border: none;
  background-color: #eec44c;
  -webkit-box-shadow: 2px 2px 3px #cfcfcf,  -2px -2px 3px #ffffff;
          box-shadow: 2px 2px 3px #cfcfcf,  -2px -2px 3px #ffffff;
}

.row .select-area .mode_card .member-only {
  position: relative;
}

.row .select-area .mode_card .member-only .member-only-notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
}

.row .select-area .mode_card .member-only .member-only-notice a {
  text-decoration: none;
  color: white;
}

.row .select-area .mode_card .member-only .member-only-notice a:hover {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.row .select-area .card-title {
  font-family: museo sans rounded, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.battle-area .card .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  border: none;
  color: #323232;
  background-color: #eeeeee;
  border: none;
  -webkit-box-shadow: inset 3px 3px 4px #cfcfcf,  inset -3px -3px 4px #ffffff;
          box-shadow: inset 3px 3px 4px #cfcfcf,  inset -3px -3px 4px #ffffff;
}

.select-area .card .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  border: none;
  color: #323232;
  background-color: #eec44c;
  border: none;
  -webkit-box-shadow: inset 3px 3px 4px #caa741,  inset -3px -3px 4px #ffe157;
          box-shadow: inset 3px 3px 4px #caa741,  inset -3px -3px 4px #ffe157;
}

#typingModeBar .progress-bar {
  background: #70e885;
  background: linear-gradient(128deg, #70e885 0%, #a2ffbc 100%);
}

#codeModeBar .progress-bar {
  background: #70e885;
  background: linear-gradient(128deg, #70e885 0%, #a2ffbc 100%);
}

#battleModeBar .progress-bar {
  background: #ec5388;
  background: linear-gradient(128deg, #ec5388 0%, #ffb4c3 100%);
}
/*# sourceMappingURL=mode.css.map */