*{
  box-sizing: border-box;
}
body{
  /* background-image: url(https://images.unsplash.com/photo-1587542177509-573b5aeb557f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
  background-size: 100%;
  background-repeat: no-repeat; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  /* 這行可以讓物件垂直置中＠＠ */
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  /* 出現scroll bar 用這行移除 */
  /* background-color: rgb(27, 29, 41); */
}

body .quote-input{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.play-container{
  background-color: rgba(0, 0, 0,.4);
  padding: 1rem;
  border-radius: .3rem;
  width: 79vw;
  height: 25vh;
  /* max-width: 90%; */
  color: aliceblue;
  top:9vh;
}
.time-counter{
  position: absolute;
  top: 1rem;
  display: flex;
}
.timer{
  /* position: absolute;
  top: 1rem; */
  color: rgb(9, 12, 44);
  font-size: 3rem;
  font-weight: bold;
}
.millisec{
  /* top: 5rem; */
  margin-left: 2rem;
  color: red;
}

.quote-display{
  padding-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
  font-size: 0px;
  /* 要讓display的開頭對齊輸入框內文字開頭 */
}
.quote-display span{
  font-size: 2rem;
  white-space: pre;
}

.quote-input{
  background-color: transparent;
  /* border: 1px solid rgb(105, 105, 105); */
  border-radius: 2px;
  outline: none;
  width: 100%;
  height: 30%;
  margin: auto;
  resize: none;
  padding: .5rem 1rem;
  font-size: 2rem;
  color: rgb(179, 179, 179);
  /* border-width: 0px; */
  /* color: transparent; */
}

.quote-input:focus{
  border-color: rgb(239, 252, 255,0);
}
.selected{
  text-decoration: underline;
  background-color: rgb(117, 117, 117);
}

.correct{
  color: rgb(93, 192, 0);
  background-color: rgb(208, 238, 180);
}

.incorrect{
  color: red;
  background: rgb(255, 182, 182);
}

/* -----遊玩模式區 ----- */

h1{
  width: 65rem;
  text-align: center;
  /* background-color: lawngreen; */
  font-family: hack;
  color: white;
  margin-bottom: 2rem;
}

.modeWrap{
  justify-content: space-evenly;
}

.select-area { 
  justify-content: space-between;
}

.select-area .card{
  margin-right: 2rem;
}

.battle-area{
  /* background-color: red; */
  
}




/* ---------keyboard---------- */



.keys {
  /* width: 50rem;  */
  /* min-height: 50vh; */
  padding:.8vw;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: /*3px*/ .3vw;
  display: grid;
  grid-template-columns: repeat(30,2.2vw);
  grid-template-rows: repeat(5, 4.3vw);
  grid-gap: /*5px*/.4vw;
}
.key span {
  display: block;
  margin-top: /*17px*/ 1vw;
}
.key_symbols {
  line-height: /*2px*/ .2vw;
}




.key {
  background-color: black;
  border: .1vw solid green;
  border-radius:  .3vw;
  grid-column: span 2;
  font-size: .95vw;
  text-align: center;
  padding-top: 1.5vw;
  color: greenyellow;
  /* transition: all .1s ease; */
}


.delete {
  grid-column: span 4;
}

.tab {
  grid-column: span 3;
}

.backslash {
  grid-column: span 3;
}

.capslock {
  grid-column: span 4;
}

.return {
  grid-column: span 4;
}

.leftshift {
  grid-column: span 5;
}

.rightshift {
  grid-column: span 5;
}

.leftctrl {
  grid-column: span 3;
}

.command {
  grid-column: span 3;   
}

.space {
  grid-column: span 13;
}

.arrows_all {
  grid-column: span 6;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 49% 49%;
  padding-top: 0;
  grid-gap: 2%;
  border-style: hidden;    
}

.top{
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 0; 
  grid-row-end: 0; 
  padding: 4%;
}

.left{
  grid-column-start: 1; 
  grid-column-end: 1; 
  padding: 4%;
}
.down{
  grid-column-start: 2;
  grid-column-end: 3;  
  grid-row-start: 2; 
  grid-row-end: 0; 
  padding: 2%;
  transform: rotate(180deg);
}

.right{
  grid-column-start: 3;
  grid-column-end: 4;  
  grid-row-start: 2; 
  grid-row-end: 0;
  padding: 4%; 
  transform: rotate(180deg);
}





.playing{
  border: /*1px*/.1em solid green;
  background-color: greenyellow;
  color: black;
}