*{
  box-sizing: border-box;
}
body{
  /* background-image: url(https://images.unsplash.com/photo-1587542177509-573b5aeb557f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
  background-size: 100%;
  background-repeat: no-repeat; */
  /* display: flex; */
  background: #eeeeee;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  /* 這行可以讓物件垂直置中＠＠ */
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  /* 出現scroll bar 用這行移除 */
  /* background-color: rgb(27, 29, 41); */
}

body .quote-input{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.play-container{
  background-color: rgba(0, 0, 0,.4);
  padding: 1rem;
  border-radius: .3rem;
  width: 79vw;
  height: 25vh;
  /* max-width: 90%; */
  color: aliceblue;
  top:9vh;
}
.time-counter{
  /* position: absolute; */
  top: 1rem;
  display: flex;
}
.timer{
  /* position: absolute;
  top: 1rem; */
  color: rgb(9, 12, 44);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  
}
.millisec{
  /* top: 5rem; */
  margin-left: 2rem;
  color: red;
}

.quote-display, .quote-display2{
  padding-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
  font-size: 0px;
  /* 要讓display的開頭對齊輸入框內文字開頭 */
}
.quote-display span, .quote-display2 span{
  font-size: 2rem;
  white-space: pre;
}

.quote-input, .quote-input2{
  background-color: transparent;
  /* border: 1px solid rgb(105, 105, 105); */
  border-radius: 2px;
  outline: none;
  width: 100%;
  height: 30%;
  margin: auto;
  resize: none;
  padding: .5rem 1rem;
  font-size: 2rem;
  color: rgb(179, 179, 179);
  /* border-width: 0px; */
  /* color: transparent; */
}

.quote-input:focus{
  border-color: rgb(239, 252, 255,0);
}
.selected{
  text-decoration: underline;
  background-color: rgb(117, 117, 117);
}

.correct{
  color: rgb(93, 192, 0);
  background-color: rgb(208, 238, 180);
}

.incorrect{
  color: red;
  background: rgb(255, 182, 182);
}








/* ---------keyboard---------- */



#keyboard {
  /* width: 50rem;  */
  /* min-height: 50vh; */
  padding: .8vw;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#eeeeee;
  border-radius: .3vw;
  display: grid;
  grid-template-columns: repeat(30,2.2vw);
  grid-template-rows: repeat(5, 4.3vw);
  grid-gap: .4vw;
}
.keys span {
  display: block;
  margin-top: 1vw;
  font-size: .95vw;
}

.key_symbols {
  line-height: .2vw;
}

.key {
  background-color: #eeeeee;
  /* border: .1vw solid green; */
  border-radius:  .3vw;
  grid-column: span 2;
  font-size: .95vw;
  font-weight: bold;
  text-align: center;
  padding-top: 1.5vw;
  color: #323232;
  box-shadow:  2px 2px 2px #c1c1c1, 
              -2px -2px 2px #ffffff;
  /* transition: all .1s ease; */
}


.delete {
  grid-column: span 4;
}

.tab {
  grid-column: span 3;
}

.backslash {
  grid-column: span 3;
}

.capslock {
  grid-column: span 4;
}

.return {
  grid-column: span 4;
}

.leftshift {
  grid-column: span 5;
}

.rightshift {
  grid-column: span 5;
}

.leftctrl {
  grid-column: span 3;
}

.command {
  grid-column: span 3;   
}

.space {
  grid-column: span 13;
}

.arrows_all {
  grid-column: span 6;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 49% 49%;
  padding-top: 0;
  grid-gap: 2%;
  border-style: hidden;  
  box-shadow: none;  
  font-family: monospace;
  font-weight: bold;
}

.top{
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 0; 
  grid-row-end: 0; 
  padding: 8%;
  font-weight: bold;
  /* box-shadow:  2px 2px 2px #c1c1c1, 
              -2px -2px 2px #ffffff; */
}

.top img{
  display: inline-block;
  width:1.1111111111vw;  /*  16/1440*100=1.1111111111 */
  height: 1.1111111111vw;
}

.left{
  grid-column-start: 1; 
  grid-column-end: 1; 
  padding: 8%;
}
.left img{
  display: inline-block;
  width:1.1111111111vw; 
  height: 1.1111111111vw;
}
.down{
  grid-column-start: 2;
  grid-column-end: 3;  
  grid-row-start: 2; 
  grid-row-end: 0; 
  padding: 8%;
}
.down img{
  display: inline-block;
  width:1.1111111111vw; 
  height: 1.1111111111vw;
}

.right{
  grid-column-start: 3;
  grid-column-end: 4;  
  grid-row-start: 2; 
  grid-row-end: 0;
  padding: 8%; 
}

.right img{
  display: inline-block;
  width:1.1111111111vw; 
  height: 1.1111111111vw;
}

.playing {
  /* border: .1em solid green; */
  background-color: #eeeeee;
  color: black;
  text-decoration: none;
  box-shadow: inset  2px 2px 2px #c1c1c1, 
              inset -2px -2px 2px #ffffff;

}

/* 傳送結果用的隱藏表單 */
.statu-params{
  display: none;
}
.statu-params div{
  width: 50px;
}
.new_user_article{
  
  width: 500px;
  display: flex;

  
}