body {
  background: #eeeeee;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  &.dark-mode {
    background-color: #212633;
  }
  .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .container{
    #create-room-btn{
      border: none;
      background-color: #eeeeee;
      box-shadow:   7px 7px 14px #cfcfcf, 
                  -7px -7px 14px #ffffff;
      color: rgb(70, 70, 70);
      &:hover{
        box-shadow: inset 4px 4px 8px #cfcfcf, 
        inset -4px -4px 8px #ffffff;
        transition: 0.05s;
        // font-size: 15.5px;
      }
    }
  }
  .row {
    .play-container {
      font-family: monospace, sans-serif;
      font-weight: 400;
      padding: 1rem;
      border-radius: .3rem;
      width: 79vw;
      height: 30vh;
      overflow-y: hidden;
      top:9vh;
      border: none;
      background: #eeeeee;
      box-shadow: inset 6px 6px 8px #cfcfcf, 
                  inset -6px -6px 8px #ffffff;
      color: rgb(70, 70, 70);
      .quote-display, .quote-display2 {
        padding-bottom: 1rem;
        font-size: 0px;
        
      }
      
      .quote-display span, .quote-display2 span { //題目欄位
        font-size: 2rem;
        white-space: pre;
      }
      .quote-input:focus {
        border-color: rgba(239, 252, 255,0);
      }
      .selected {
        text-decoration: underline;
        background-color: #757575;
      }
      .correct {
        color: #5dc000;
        background-color: rgb(208, 238, 180);
      }
      .incorrect {
        color: #ff0000;
        background: rgb(255, 182, 182);
      }
      #quotetopic{
        transition: all 1s ease 0s;
      }
    }

    #quoteDisplay{
      background: #eec44c;
      box-shadow: inset  5px 5px 8px #cfab42, 
                  inset  -5px -5px 8px #ffdd56;
    }
    .time-counter {
      top: 1rem;
      display: flex;
      .timer{
        color: rgb(9, 12, 44);
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        .millisec{
          margin-left: 2rem;
          color: red;
        }
      }
    }
    .quote-input, .quote-input2 {
      background-color: transparent;
      border-radius: 2px;
      outline: none;
      width: 100%;
      height: 0;
      overflow: hidden;
      margin: auto;
      resize: none;
      padding: .5rem 1rem;
      font-size: 2rem;
      color: transparent;
    }
    .racing.play-container {
      height: 50vh;
    }
  }
}

#tugBar{
  height: 1rem;
  border-radius: 0.3rem;
  background: #eeeeee;
  box-shadow: inset 2px 2px 3px #cfcfcf, 
              inset -2px -2px 3px #ffffff;
  margin-bottom: 2rem;
  position: relative;
  .my-point{
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 15rem;
    background:  linear-gradient(145deg, #ffd251, #d6b044);
    box-shadow: 1px 1px 3px #cda941, 
                -1px -1px 3px #ffdf57;
    display: inline-block;
    left: 0%;
    bottom: -.3rem;
    animation-name:oxxo;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
  }
  @keyframes oxxo{
    from{
    margin-left: 0%;
    }
    to{
    margin-left: 50%;
    }
}

  // .enemy-point{
  //   position: absolute;
  //   height: 1rem;
  //   width: 1rem;
  //   border-radius: 15rem;
  //   background: red;
  //   display: inline-block;
  //   right: 48.5%;
  //   top:1.5rem;
  // }

}


/* ---------keyboard---------- */
#keyboard {
  /* width: 50rem;  */
  /* min-height: 50vh; */
  padding: .8vw;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#eeeeee;
  border-radius: .3vw;
  display: grid;
  grid-template-columns: repeat(30,2.2vw);
  grid-template-rows: repeat(5, 4.3vw);
  grid-gap: .4vw;
}
.keys span {
  display: block;
  margin-top: 1vw;
  font-size: .95vw;
}

.key_symbols {
  line-height: .2vw;
}

.key {
  background-color: #eeeeee;
  /* border: .1vw solid green; */
  border-radius:  .3vw;
  grid-column: span 2;
  font-size: .95vw;
  font-weight: bold;
  text-align: center;
  padding-top: 1.5vw;
  color: #323232;
  box-shadow:  2px 2px 2px #c1c1c1, 
              -2px -2px 2px #ffffff;
  /* transition: all .1s ease; */
}

.delete {
  grid-column: span 4;
}

.tab {
  grid-column: span 3;
}

.backslash {
  grid-column: span 3;
}

.capslock {
  grid-column: span 4;
}

.return {
  grid-column: span 4;
}

.leftshift {
  grid-column: span 5;
}

.rightshift {
  grid-column: span 5;
}

.leftctrl {
  grid-column: span 3;
}

.command {
  grid-column: span 3;   
}

.space {
  grid-column: span 13;
}

.arrows_all {
  grid-column: span 6;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 49% 49%;
  padding-top: 0;
  grid-gap: 2%;
  border-style: hidden;  
  box-shadow: none;  
  font-family: monospace;
  font-weight: bold;
}

.top{
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 0; 
  grid-row-end: 0; 
  padding: 8%;
  font-weight: bold;
  /* box-shadow:  2px 2px 2px #c1c1c1, 
              -2px -2px 2px #ffffff; */
}

.top img{
  display: inline-block;
  width:1.1111111111vw;  /*  16/1440*100=1.1111111111 */
  height: 1.1111111111vw;
}

.left{
  grid-column-start: 1; 
  grid-column-end: 1; 
  padding: 8%;
}
.left img{
  display: inline-block;
  width:1.1111111111vw; 
  height: 1.1111111111vw;
}
.down{
  grid-column-start: 2;
  grid-column-end: 3;  
  grid-row-start: 2; 
  grid-row-end: 0; 
  padding: 8%;
}
.down img{
  display: inline-block;
  width:1.1111111111vw; 
  height: 1.1111111111vw;
}

.right{
  grid-column-start: 3;
  grid-column-end: 4;  
  grid-row-start: 2; 
  grid-row-end: 0;
  padding: 8%; 
}

.right img{
  display: inline-block;
  width:1.1111111111vw; 
  height: 1.1111111111vw;
}

.playing {
  /* border: .1em solid green; */
  background-color: #eec44c;
  color: black;
  text-decoration: none;
  box-shadow: inset  2px 2px 2px  #d6b044, 
              inset -2px -2px 2px #ffd854;

}

/* 傳送結果用的隱藏表單 */
.statu-params{
  display: none;
}
.statu-params div{
  width: 50px;
}
.new_user_article{
  width: 500px;
  display: flex;
}

/* Alert */
.swal2-actions .swal2-styled.swal2-confirm{
  background: #f7c232;
}

.swal2-footer a{
  color: #f8d472;
}

