#startCounter {
  position: fixed;
  font-size: 100px;
  top: 50%;
  left: 20%;
  z-index: 1;
  color: red;
}
.ball-center{
  .racing-center{
    display: flex;
    justify-content: space-around;
  }
}
.game-zone {
  display: flex;
  .host,
  .guest {
    padding: 1rem;
    width: 50%;
    .player-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      .name-and-socre{
        display: flex;
        width: 50%;
        p{
          width: 50%;
        }
      }
      .combo-count{
        display: flex;
        width: 50%;
        .combo-count{
          animation-duration: .5s;
          #combo-count{
            color: red;
            font-size: 2rem;
          }
        }
        @keyframes combo{
          0%{
            transform: rotateY(0deg);          
          }
          40%{
            transform: rotateY(45deg);          
          }
          80%{
            transform: rotateY(-20deg);          
          }
          100%{
            transform: rotateY(0deg);          
          }
        }
      }
    }
    .racing-ground.focused {
      box-shadow: 8px 8px 20px rgba(252, 215, 50, 0.801), 
                  -8px -8px 20px rgba(247, 210, 44, 0.808);
    }
    .racing-ground.guest {
      box-shadow: inset 4px 4px 3px #cfcfcf, 
                  inset -4px -4px 3px #ffffff;
      color: rgb(211, 211, 211);
    }
    .racing-ground {
      padding: 20px;
      background-color: #eeeeee;
      border-radius: 10px;
      box-shadow: 7px 7px 14px #cfcfcf, 
                -7px -7px 14px #ffffff;
      color: rgb(70, 70, 70);
      .racing-quote-display {
        height: 60vh;
        overflow: hidden;
        #racingQuoteTopic {
          font-size: 0;
          transition: all 1s ease 0s;
          span {
            font-size: 2rem;
            white-space: pre;
          }
        }
      }
      .racing-quote-display2 {
        height: 60vh;
        overflow: hidden;
        #racingQuoteTopic2 {
          font-size: 0;
          transition: all 1s ease 0s;
          span {
            font-size: 2rem;
            white-space: pre;
          }
        }
      }
    }
    .racing-quote-input, .racing-quote-input2 {
      background-color: transparent;
      resize: none;
      outline: none;
      border: none;
      color: transparent;
      overflow: hidden;
      height: 0px
    }
  }
}
.end-page{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  animation: ending 0.5s ease-in-out;
}
@keyframes ending {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.check-group{
  background-color: rgba(23, 25, 44, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  .check-roomname {
    position: relative;
    img{
      width: 30px;
      margin: .5rem;
    }
    .back-to-racing{
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
    h3 {
      font-size: 35px;
      color: #fff;
      margin-top: 60px;
      text-shadow: none;
    }
    &.disappear {
      h3{
        opacity: 0;
      }
    }
  }
  .check-area{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    img{
      width: 22vh;
      height: 22vh;
      border-radius: 50%;
      object-fit: cover;
      max-width: 200px;
      max-height: 200px;
      margin: 2rem;
    }
    .ready-title {
      font-size: 30px;
    }
    .ready-btn-host {
      background-color: rgba(23, 25, 44,1);
      color: hotpink;
      padding: 10px 10px;
      width: 200px;
      height: 80px;
      border-radius: 40px;
      box-shadow: 3px 3px 5px #9522a0, 
                  -2px -2px 5px #d340e0;
      margin: auto;
      cursor: pointer;
      font-size: 50px;
      line-height: 60px;
    }
    .ready-btn-host.lock{
      color: rgb(128, 128, 128);
      box-shadow: none;
      cursor: none;
    }
    .ready-btn-host.active {
      box-shadow: inset 3px 3px 5px #18a018, 
                  inset -2px -2px 5px #64ec49;
      color: greenyellow;
    }
    .ready-btn-guest {
      background-color: rgb(23, 25, 44);
      color: rgb(43, 47, 78);
      padding: 10px 10px;
      width: 200px;
      height: 80px;
      border-radius: 40px;
      margin: auto;
      font-size: 30px;
      line-height: 60px;
    }
    .ready-btn-guest.active {
      color: greenyellow;
      box-shadow: 0px 0px 10px greenyellow;
    }
    #guest-name{
      font-size: 30px;
      padding-bottom: 50px;
      text-align: center;
    }
  }
  .ready-handler {
    opacity: 1;
    transition: opacity 1s;
  }
  .ready-handler.disappear {
    opacity: 0;
    transition: opacity 1s;
  }
}
#racing-index{
  #create-room-btn:hover{
    background-color: #323232;
    color: #eec44c;
    box-shadow: 2px 2px 3px #ffffff, 
                -2px -2px 3px #b8b8b8;
    transition: 0s;
  }
  .racing-container{
    .lesson-select{
      .row{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        .room-owner-pic{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          
        }
        .card-body{
          margin: 1rem 0rem;
          .request-title {
            width: 67%;
            white-space: nowrap;
            overflow: hidden;
            text-shadow:  -2px -2px 2px #ffffff, 
            2px 2px 2px #b8b8b8;;
          }
        }
        
        .link-group{
          justify-content: space-between;
          .player-counter:hover{
            background-color: #323232;
            color: #eec44c;
            box-shadow: 2px 2px 3px #ffffff, 
                        -2px -2px 3px #b8b8b8;
            transition: 0s;
          }
          .trash img{
            display: flex;
            position: absolute;
            top: 1.2rem;
            right: 3rem;
          }
          .edit-racing{
            display: flex;
            position: absolute;
            top: 1.2rem;
            right: 4.8rem;
          }
          
        }
        
        .post-news{
          font-size: .8rem;
        }
      }
    }
  }
}
#rooms-show{
  h3{
    text-shadow: none;
  }
}


