.user-profile{
  font-family:  Museo Sans Rounded, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(50, 50, 50);
  margin-bottom: 30px;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: space-around;
  box-shadow: 4px 4px 5px #cfcfcf, 
              -4px -4px 5px #ffffff;

  .user-pic{
    img{
      width: 22vh;
      height: 22vh;
      border-radius: 50%;
      object-fit: cover;
      max-width: 200px;
      max-height: 200px;
    }
  }
  .user-info{
    display: flex;
    flex-direction: column;
    

    .user-info-nickname{
      font-size: 2rem;
      overflow: hidden;
    }
    .user-info-edit{
      text-align: end;
      font-size: 0.5rem;
      display: flex;
      
      a{
        color:#ff67c0;
      }
    }
  }
}

#chart{
  margin-bottom: 30px;
  padding: 30px 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #cfcfcf, 
              -4px -4px 5px #ffffff;
}

.type-log{
  font-family:  Museo Sans Rounded, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(50, 50, 50);
  margin-bottom: 30px;
  padding: 30px 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #cfcfcf, 
              -4px -4px 5px #ffffff;
              display: flex;
  .data-title{
    margin: auto;
    margin-bottom: 3rem;
  }
  .data-bt{
    margin-right: 1rem;
  }
  .stat-bt-group{
    height: 2rem;
    margin-right: 1rem;
    padding: auto;
    .dropdown-toggle{
      border-radius: .9rem;
      color:rgb(50, 50, 50);
      padding: .2rem .8rem;
      background-color: #eec44c;
      box-shadow:  2px 2px 3px #cfcfcf, 
                  -2px -2px 3px #ffffff;
                  border: none;
                  
                }
    .dropdown-toggle:hover{
      box-shadow:  2px 2px 3px #cfcfcf, 
                  -2px -2px 3px #ffffff;
    }
    .dropdown-toggle:active :focus{
      background-color: #eec44c;
      border: none;
      color:rgb(50, 50, 50);
      box-shadow: inset 2px 2px 3px #caa741, 
                  inset -2px -2px 3px #ffe157;
    }
    .dropdown-menu {
      background-color: #eec44c;
      min-width: 3rem;
    }
  }
}

.leaderboard{
  font-family:  Museo Sans Rounded, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(50, 50, 50);
  margin-bottom: 30px;
  padding: 30px 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #cfcfcf, 
              -4px -4px 5px #ffffff;
}
