.user-profile{
  font-family:  Museo Sans Rounded, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(50, 50, 50);
  margin-bottom: 30px;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: space-around;
  box-shadow: 4px 4px 5px #cfcfcf, 
              -4px -4px 5px #ffffff;

  .user-pic{
    max-width: 100%;
    img{
      border-radius: 10rem;
      box-shadow:   .2rem .3em .3rem #cfcfcf, 
                    -.2rem -.3rem .3rem #ffffff;
    }
  }
  .user-info{
    display: flex;
    flex-direction: column;

    .user-info-nickname{
      font-size: 2rem;
    }
    .user-info-edit{
      text-align: end;
      font-size: 0.5rem;
      display: flex;
      

      a{
        color:rgb(236,83,136);
      }
    }

  }
}

#chart{
  margin-bottom: 30px;
  padding: 30px 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #cfcfcf, 
              -4px -4px 5px #ffffff;
}

.type-log{
  font-family:  Museo Sans Rounded, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(50, 50, 50);
  margin-bottom: 30px;
  padding: 30px 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px #cfcfcf, 
              -4px -4px 5px #ffffff;
}
