.lesson-select ul .btn,
.lesson-select .card-body,
.lesson-select .card-body .btn{
  border: none;
  background-color: #eeeeee;
  box-shadow: 7px 7px 14px #cfcfcf, 
            -7px -7px 14px #ffffff;
  color: rgb(70, 70, 70);
}

.lesson-select .card{
  background-color: #eeeeee;
  border: none;
  display: flex;
  flex-flow: row wrap;
}

.lesson-select .card-body{
  margin: 10px;
}

.lesson-select .card-body a:hover{
  text-decoration: none;
}

.lesson-select .card-body a{
  color: rgb(70, 70, 70);
}
.lesson-select .card.dark-mode{
  background-color: #212633;
}
.lesson-select .card-body.dark-mode, .lesson-select .card-body .btn.dark-mode{
  background-color: #212633;
  box-shadow: 7px 7px 14px rgb(14, 14, 15, 0.5), 
            -7px -7px 14px rgba(255, 255, 255, 0.05);
  color: rgb(247, 208, 81);
}

.ellipsis {
overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
white-space: normal;
}

#play-start:hover {
  box-shadow: inset 4px 4px 8px #cfcfcf, 
              inset -4px -4px 8px #ffffff;
  transition: 0.05s;
  font-size: 15.5px;
}
