.lesson-select {
  .card {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: flex;
    flex-flow: row wrap;
  }
  .card-body {
    margin: 10px;
    border: none;
    border-radius: 1rem;
    background-color: #eeeeee;
    box-shadow: 3px 3px 6px #cfcfcf, 
                -3px -3px 6px #ffffff;
    color: rgb(50, 50, 50);
    position: relative;

    .btn {
      width: 4rem;
      border-radius: 1rem;
      border: none;
      background-color:  #eec44c;
      box-shadow: 2px 2px 3px #cfcfcf, 
                  -2px -2px 3px #ffffff;
      color: #323232;
      
    }
    .post-news{
      width: 0;
      background-color: transparent;
      border-radius:0;
      box-shadow: none;
      display: flex;
      position: absolute;
      top:.86rem;
      right: 1.7rem;
    }
    .btn.disabled{
      background-color: #ccc;
      color: #aaa;
    }
    &.dark-mode, .btn.dark-mode  {
      background-color: #212633;
      box-shadow: 3px 3px 5px rgba(14, 14, 15, 0.5), 
                  -3px -3px 5px rgba(255, 255, 255, 0.05);
      color: rgb(247, 208, 81);
      
    }
    .card-title{
      color: rgb(50, 50, 50);
      font-weight: 600;
      width: 10rem;
      // background: linear-gradient(145deg, #d6b044, #ffd251);
      text-shadow:  -2px -2px 2px #ffffff,
                    2px 2px 2px #b8b8b8;
    }
    
    .check-done{
      img{
        display: flex;
        position: absolute;
        top: 1.3rem;
        left: 7rem;
      }
      img:hover{
        transform: rotate(20deg);
      }
    }
  }


  .ellipsis {
    font-family:  museo sans rounded, sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    }
  #play-start:hover {
    background-color: #323232;
    color: #eec44c;
    box-shadow: 2px 2px 3px #ffffff, 
                -2px -2px 3px #b8b8b8;
    transition: 0s;
    
    :active{
      background-color: #464646;
      color: #eec44c;
      box-shadow: inset 2px 2px 3px #ffffff, 
                  inset -2px -2px 3px  #b8b8b8;
      transition: 0s;
      
    }
  }
}

#lessonTitle {
  font-family:  museo sans rounded, sans-serif;
}

.lesson-select{
  .card-body{
    @media (min-width: 992px) {
      .stars{
        // background-color: red;
        img{
          width: 20%;
          height: 100%;
        }
      }
    }
    .stars{
      justify-content: center;
    }
  }
}

#customizations-index{
  .link-group{
    // flex-direction: row;
    justify-content: space-between;
    a{
      padding-left: 0;
      padding-right: 0;
      align-items: center;
    }
    img{
      display: flex;
      position: absolute;
      top: 1.2rem;
      right: 3.3rem;
    }
    .trash img{
      display: flex;
      position: absolute;
      top: 1.2rem;
      right: 1rem;
    }
    @media (max-width: 767px) {
      a{
        // width: auto;
        width: 100%;
        margin: 0 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
      }      
    }
  }
}

.swal2-icon.swal2-warning{
  border-color: #ff67c0;
  color: #ff67c0;
}

