.lesson-select ul .btn,
.lesson-select .card-body,
.lesson-select .card-body .btn{
  border: none;
  background-color: #eeeeee;
  box-shadow: 7px 7px 14px #cfcfcf, -7px -7px 14px #ffffff;
  color: rgb(70, 70, 70);
}

.lesson-select .card{
  background-color: #eeeeee;
  border: none;
  display: flex;
  flex-flow: row wrap;
}


.lesson-select .card-body{

}

.lesson-select .card-body a:hover{
  text-decoration: none;
}

.lesson-select .card-body a{
  color: rgb(70, 70, 70);
}
