.user {
  .col-12 {
    .card {
      font-family: Museo Sans Rounded, sans-serif;
      font-style: normal;
      font-weight: 600;
      width: 340px;
      border: none;
      background-color: #eeeeee;
      box-shadow: 7px 7px 14px #cfcfcf, 
                  -7px -7px 14px #ffffff;
      color: rgb(50, 50, 50);
      padding: 1rem 1rem;
      margin-bottom: 1rem;
      display: block;
      input[type="email"], 
      input[type="password"], 
      input[type="text"]{
        border: none;
        background-color: #eeeeee;
        box-shadow: inset 3px 3px 8px #cfcfcf, 
                    inset -3px -3px 3px #ffffff;
      
      }
      .update_edit{
        border: none;
        background-color: #eec44c;
        box-shadow: 3px 3px 8px #cfcfcf, 
                    -3px -3px 3px #ffffff;
        color: rgb(50, 50, 50);
        border-radius: 50px;
        padding: 5px 20px;
        &:hover{
          background-color: #323232;
          color: #eec44c;
          box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.5), 
                      inset -3px -3px 3px rgba(255, 255, 255, 0.08);
        }
      }

    
      
      .cancel_bt{
        border: none;
        background-color: #ff67c0;
        box-shadow: 3px 3px 8px #cfcfcf, 
                    -3px -3px 3px #ffffff;
        color: rgb(50, 50, 50);
        border-radius: 50px;
        padding: 5px 20px;
      }

      .back_bt{
        border: none;
        background-color: #32ff95;
        box-shadow: 3px 3px 8px #cfcfcf, 
                    -3px -3px 3px #ffffff;
        color: rgb(50, 50, 50);
        border-radius: 50px;
        padding: 5px 20px;
        margin-top: 1rem;
      }

      p{
        text-align: center;
      }
    
      
      a{
        color:  #323232;
      }
      i ,em{
        font-weight: 100;
        font-style: normal;
        color: #ff67c0;
        font-size: .8rem;
      }
      #error_explanation {
        ul{
          li{
            color: rgb(187, 9, 69);
          }
        }
      }
    }
  }
}

#registrations-new,
#sessions-new{
  .user{
    img{
      width: 30px;
      padding: .1rem;
    }
  }
}