#welcome-index{
  background:#eec44c ; 
}

#welcomeContainer{
  width: 100%;
  display: -webkit-flex;
  display: flex;

  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}



#welcomeRow{
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: block;
}

.logo_icon img{
  display: block;
  margin: auto;
  align-items: center;
}

.type_here{
  display: flex;
}

.row h1 {
  display: block;
  font-size: 3rem;
  color:  rgb(50, 50, 50);
  font-family: Museo Sans Rounded, sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: start;
  width: 28rem;
  margin-top: 0rem;
  text-shadow: none;
}

#welcomeContainer .btn-primary {
  display: block;
  height: 3rem;
  width: 6rem;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  color: rgb(50, 50, 50);
  background-color: #eec44c;
  border: none;
  box-shadow: 2px 2px 5px#cfab42, 
              -2px -2px 5px #ffdd56;
}

#welcomeContainer .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  border-color: black;
  color: rgb(50, 50, 50);
  background-color:  #eec44c;
  box-shadow: inset 2px 2px 5px#cfab42, 
              inset -2px -2px 5px #ffdd56;
              
}
#welcomeContainer .btn{
  font-weight: 900;
}
.txt-type > .txt {
  border-right: 0.5rem solid rgb(50, 50, 50);
}

.L-eye{
  position: absolute;
  top: 17.5rem;
  left: 27rem;
  animation-name:L-eyeRolling;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-direction: alternate-reverse;
}
.R-eye{
  position: absolute;
  top: 17.5rem;
  left: 33.5rem;
  animation-name:R-eyeRolling;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-direction: alternate-reverse;
}

@keyframes L-eyeRolling{
  0%{
    top: 17.5rem;
    left: 27rem;
  }
  
  50%{
    top: 18rem;
    left: 26.5rem;
  }

  100%{
    top: 17.5rem;
    left: 25.5rem;
  }
}

@keyframes R-eyeRolling{
  0%{
    top: 17.5rem;
    left: 33.5rem;
  }

  50%{
    top: 18rem;
    left: 33rem;
  }



  100%{
    top: 17.5rem;
    left: 32rem;
  }
}

