#welcome-index{
  background:#eec44c ; 
  #welcomeContainer{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    #welcomeRow{
      margin-top: 5rem;
      margin-bottom: 5rem;
      display: block;
      .logo_icon{
        img{
          display: block;
          margin: auto;
          align-items: center;
        } 
      }
      .type_here{
        display: flex;
      
        h1 {
          display: block;
          font-size: 3rem;
          color:  rgb(50, 50, 50);
          font-family: Museo Sans Rounded, sans-serif;
          font-style: normal;
          font-weight: 700;
          text-align: start;
          width: 28rem;
          margin-top: 0rem;
          text-shadow: none;
        }
      }
      .btn-primary {
        display: block;
        height: 3rem;
        width: 6rem;
        font-size: 1.5rem;
        border-radius: 1.5rem;
        color: rgb(50, 50, 50);
        background-color: #eec44c;
        border: none;
        box-shadow: 2px 2px 5px#cfab42, 
                    -2px -2px 5px #ffdd56;
        font-weight: 900;
      }
      .btn-primary:not(:disabled):not(.disabled):active,
      .btn-primary:not(:disabled):not(.disabled).active,
      .show > .btn-primary.dropdown-toggle {
        border-color: black;
        color: rgb(50, 50, 50);
        background-color:  #eec44c;
        box-shadow: inset 2px 2px 5px#cfab42, 
                    inset -2px -2px 5px #ffdd56;     
      }
    }
  }
}

/* home page animation */
.txt-type > .txt {
  border-right: 0.5rem solid rgb(50, 50, 50);
}

@media (max-width: 767px){
  #welcome-index{
    #welcomeRow{
      width: 100%;
      .logo_wrap{
        .type_here{
          h1{
            font-size: 1.5rem!important;
          }
        }
      }
      img{
        width: 100%;
      }
    }
    .landing-page{
      .feedback{
        .feedback-pic {
          .fd-item{
            .col-4{
              margin-right: .5rem;
              .fd-avatar {
                object-fit: contain;
                height: 80px;
                width: 80px;
                img{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}