<div class="row  justify-content-center">
  <%= render 'shared/timer' %>
</div>

<div class="row justify-content-center">
  <div class="play-container mt-3">
    <div class="quote-display" id="quoteDisplay">
      <% @code_item.each do |code| %>
      <div>
        <% code.each do |character| %>
          <% if character == " " %>
            <span> </span>
          <% else %>
            <span><%= character %></span>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
    <textarea id="quoteInput" class="quote-input" autofocus type="hidden"></textarea>
  </div>
</div>

<%= render 'shared/keyboard'  %>
<%= render 'shared/stats' %>
