<div class="time-counter mt-5">
  <div class="timer ml-2" id="seconds"></div>
  <div class="timer millisec ml-2" id="millisec"></div>
  <div class="timer " id="wpm"></div>
</div>


<div class="play-container mt-5">
  <div class="quote-display" id="quoteDisplay">
    <% @code_item.each do |code| %>
    <div>
      <% code.each do |character| %>
      <% if character == " " %>
        <span> </span>
      <% else %>
        <span><%= character %></span>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <textarea id="quoteInput" class="quote-input" autofocus type="hidden"></textarea>
